<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE com.huiliang.employeeservice.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-com.huiliang.employeeservice.mapper.dtd">
<com.huiliang.employeeservice.mapper namespace="com.huiliang.authservice.com.huiliang.employeeservice.mapper.EmployeeRoleMapper">
  <resultMap id="BaseResultMap" type="com.huiliang.authservice.domain.EmployeeRole">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="employee_id" jdbcType="VARCHAR" property="employeeId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <insert id="insert" parameterType="com.huiliang.authservice.domain.EmployeeRole">
    insert into employee_role (id, employee_id, role_id, 
      create_date, update_date)
    values (#{id,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, employee_id, role_id, create_date, update_date
    from employee_role
  </select>

  <select id="getRoleIdByEmployeeId" resultType="string">
    SELECT
    role_id
    FROM employee_role
    WHERE employee_id=#{id}
  </select>

  <select id="getRoleNameByEmployeeId" resultType="string">
    SELECT
    role.name
    FROM role
    left JOIN employee_role er ON role.id=er.role_id
    WHERE er.employee_id=#{id}
  </select>
</com.huiliang.employeeservice.mapper>