<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiliang.boundaryservice.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="entity.Role">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    </resultMap>
    <select id="getByUserId" resultMap="BaseResultMap">
        SELECT
        *
        FROM role r
        LEFT JOIN employee_role er on r.id=er.role_id
        where er.employee_id=#{userId}
    </select>
    <select id="getRoleIdByUserId" resultType="string">
        SELECT
        r.id
        FROM role r
        LEFT JOIN employee_role er on r.id=er.role_id
        where er.employee_id=#{userId}
    </select>
</mapper>